* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT";
} 

.fontUse {
  font-family: 'Poppins', sans-serif;
}

.brandLogo {
  font-weight: 600;

}

.btn {
  width: 150px;
  border-radius: 50px;
}

.header__home-section {
  background: url(../images/happy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  /* padding: 15rem; */
}

.header-subject {
  border-left: 5px solid rgba(114, 114, 114, 0.4);
  padding-left: 10px;
  font-size: 3rem;
}

.box {
  padding: 16rem 10rem 8rem 6rem;
}


/* @media only screen and (max-width: 872px) {

  .header-subject {
    font-size: .5rem;
  }

  .box {
    padding:10rem 8rem 6rem 4rem;   
  }

  
} */
@media (min-width: 481px) and (max-width: 767px) {
  .header__home-section {
    background-image: url(../images/happy-one.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    max-width: 100%;
    /* min-height: 496px; */
    position: center;
    background-position: 80%;

  }

  .header-subject {
    font-size: 1.5rem;
  }

  .box {
    padding:10rem 8rem 6rem 4rem; 
  }  

}


@media (min-width: 320px) and (max-width: 480px) {
  
  .header__home-section {
    background-image: url(../images/happy-one.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    max-width: 100%;
    /* min-height: 496px; */
    position: center;
    background-position: 80%;
  }
  .header-subject {
    font-size: 1.5rem;
  }

  .box {
    padding:10rem 8rem 6rem 4rem;   
  }

  .home-inner__text, .buttons-small{
    font-size: .7rem;
  }
  
}
/*about us*/

.about-us {
  background-color: #e0ecf7d5;
  padding: 100px 70px;
}

.monitor {
  font-size: 2rem;
  font-weight: 600;
}

hr {
  border: 2px solid #d4e3f1d5;
  width: 22%;
  margin-left: 10%;
}

.aboutUs {
  padding-top: 60px;
}

/* Team Page */

#Team {
  padding-top: 80px;
}

.Team__heading-main {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-weight: 200;
}

.Team__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
  border-left: 0.3rem solid #6266ff;
}

.Team__heading-main,
.Team__sub-heading {
  padding-left: 1.5rem;
}

.Team__team-name {
  font-size: 1rem;
  font-weight: 700;
  color: #0b0d19;
  margin: 1rem 0 0 1.5rem;
}

.Team__team-position {
  color: #aaadc1;
  font-size: 0.6rem;
  text-transform: uppercase;
  margin: 0 0 2rem 1.5rem;
  font-weight: 700;
}

/* client section*/
#client {
  background-color: #e0ecf7d5;
  padding: 80px 0 80px 40px;
  margin:0;
}

.boat {
  width:100%;
}

.client__heading {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  margin-left: 0.5rem;
}

.client__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
  border-left: 0.3rem solid blue;
}

.client__heading,
.client__sub-heading {
  padding-left: 1.5rem;
}

.left {
  padding-left: 10px;
  margin-bottom: 10px;
}

.padRow {
  padding-left: 20px;
}

.client__title {
  text-transform: capitalize;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.client__article {
  color: #aaadc1;
  font-size: 0.8rem;
  word-spacing: 2px;
}

.client__link {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #aaadc1;
  font-weight: 700;
}

.client__link:hover {
  color: black;
  text-decoration: none;
}



/* contact */

#contact {
  background-image: linear-gradient(
      to right top,
      rgba(255, 255, 255, 0.952),
      rgba(255, 255, 255, 0.9)
    ),
    url(../images/try.jpg);
  background-position: center;
  background-size: cover;
  padding: 60px;
  
}

.contact__heading {
  text-transform: uppercase;
  color: #aaadc1;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.contact__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: rgb(27, 26, 26);
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.contact__line {
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

.contact__icons {
  margin: 1rem 0;
}

.contact__title {
  text-transform: capitalize;
  font-size: 1rem;
  color: rgb(27, 26, 26);
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact__article {
  color: #aaadc1;
  font-size: 1rem;
  word-spacing: 2px;
  margin-bottom: 4rem;
}

.right {
  display: flex;
}

.contact-card {
  padding-right: 5rem;
}

.contact-card img {
  margin-bottom: 1rem;
}

label,
.contact__locaton-title {
  color: #0b0d19;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.contact__locaton-body {
  color: #aaadc1;
  font-size: 0.8rem;
  word-spacing: 2px;
}

.contact__locaton-socials {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.fab {
  margin-right: 1rem;
  background-color: #aaadc1;
  padding: 0.6rem;
  border-radius: 50%;
  color: #fff;
}

.form-group > input,
.form-group > textarea {
  background-color: #eaedf2;
  border: none;
  color: #aaadc1 !important;
}

.contact__mailing > input:focus,
.form-group > input:focus,
.form-group > textarea:focus {
  background-color: #eaedf2;
  box-shadow: none;
}

.send {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #050cce);
  border-radius: 100px;
}

.join {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #6266ff);
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.6rem;
}

a.join {
  text-decoration: none;
}

.contact__mailing > input {
  background: none;
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 60%;
  background-color: #eaedf2;
  color: white !important;
}

.contact__mailing > input:focus {
  outline: none;
}

@media (min-width: 481px) and (max-width: 767px) {

  #contact {
    background-image: linear-gradient(
        to right top,
        rgba(255, 255, 255, 0.952),
        rgba(255, 255, 255, 0.9)
      ),
      url(../images/try.jpg);
    background-position: 100%;
    background-size: cover;
    padding: 40px;
    background-repeat: no-repeat;
 
  }
  .contact-card{
    padding-top: 2rem;
  }
}


/*footer section*/

footer {
  padding: 3rem 0 1rem;
  background-color: #eaedf2;
  color: #aaadc1;
  font-size: 1rem;
}

footer p {
  margin-bottom: 2rem;
}

footer h4 {
  color: #0b0d1994;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
